{% extends 'layout.html' %}
{% block titulo %} Un saltito de ensueño y dulzura en cada taza{% endblock %}
{% block contenido %} 
  <header class="menu-bar">
    <img src="{{ url_for('static',filename='/img/logo.png')}}" class="logo" alt="dreamy bunny logo">

    <nav>
      <a href="#quienes">¿Quiénes somos?</a>
      <a href="#reservas">¡Reservaciones aquí!</a>
      <a href="#bunnys">Bunnys</a>
      <a href="#menu">Menu</a>
      <a href="#reglas">Reglas</a>
      <a href="#eventos">¡Eventos especiales!</a>
      <a href="#contacto">Contáctanos</a>
      <a href="#">
      <!-- Button modal signup -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">
  Registrate
</button>
</a>
<a href="#">
      <!-- Button modal signin -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signinModal">
  Iniciar Sesion
</button>
</a>
    </nav>
  </header>

  <section id="quienes">
    <h2>¿Quiénes somos?</h2>
    <p>
      Nosotr@s somos <strong>Dreamy bunny house cafe!</strong>, pero te preguntarás…<br><br>

      ¿Qué es dreamy bunny house cafe? es muy fácil.<br>
      somos una cafetería temática tipo maid cafe, donde todas las meseras son maids
      con estilo conejita bunny, inspiradas en una estética kawaii y muy encantadora.<br><br>

      Nuestro objetivo es ofrecer una experiencia divertida y respetuosa,
      acompañada de café y postres.<br><br>

      ¡Después de esta breve explicación, qué puedes esperar!
      ¡Puedes reservar ahora!
    </p>
  </section>
  
  <!-- Modal signup-->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/signup">
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!-- Modal signin-->
<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/signin">
      <div class="modal-body">
        {% with mensajes = get_flashed_messages()%}
          {% if mensajes = %}
        {% for m in  mensajes %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
          {% endfor }
          {% endif %}
        {% endwth %}

        <div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
  </div>
  <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
  </div>
  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
  </div>
  <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>

        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}