{% extends 'layout.html' %}
{% block titulo %} Un saltito de ensueño y dulzura en cada taza{% endblock %}
{% block contenido %} 
  <header class="menu-bar">
    <img src="{{ url_for('static',filename='/img/logo.png')}}" class="logo" alt="dreamy bunny logo">

    <nav>
      <a href="#quienes">¿Quiénes somos?</a>
      <a href="#reservas">¡Reservaciones aquí!</a>
      <a href="#bunnys">Bunnys</a>
      <a href="#menu">Menu</a>
      <a href="#reglas">Reglas</a>
      <a href="#eventos">¡Eventos especiales!</a>
      <a href="#contacto">Contáctanos</a>
      <a href="#">
      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Registrate
</button>
</a>
    </nav>
  </header>

  <section id="quienes">
    <h2>¿Quiénes somos?</h2>
    <p>
      Nosotr@s somos <strong>Dreamy bunny house cafe!</strong>, pero te preguntarás…<br><br>

      ¿Qué es dreamy bunny house cafe? es muy fácil.<br>
      somos una cafetería temática tipo maid cafe, donde todas las meseras son maids
      con estilo conejita bunny, inspiradas en una estética kawaii y muy encantadora.<br><br>

      Nuestro objetivo es ofrecer una experiencia divertida y respetuosa,
      acompañada de café y postres.<br><br>

      ¡Después de esta breve explicación, qué puedes esperar!
      ¡Puedes reservar ahora!
    </p>
  </section>
  

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
