{% extends 'layout.html' %}
{% block titulo %} Un saltito de ensueño y dulzura en cada taza{% endblock %}
{% block contenido %} 


</a>
    </nav>
  </header>

<section id="quienes">

  <div class="quienes-container">

    <!-- 💖 TEXTO -->
    <div class="quienes-box">
      <h2>¿Quiénes somos?</h2>
      <p>
        Nosotr@s somos <strong>Dreamy bunny house cafe!</strong>, pero te preguntarás…<br><br>

        ¿Qué es dreamy bunny house cafe? es muy fácil.<br>
        somos una cafetería temática tipo maid cafe, donde todas las meseras son maids
        con estilo conejita bunny, inspiradas en una estética kawaii y muy encantadora.<br><br>

        Nuestro objetivo es ofrecer una experiencia divertida y respetuosa,
        acompañada de café y postres.<br><br>

        ¡Después de esta breve explicación, qué puedes esperar!
        ¡Puedes reservar ahora!
      </p>
    </div>

    <!-- 🎮 IMÁGENES -->
    <div class="quienes-img">
      <img src="{{ url_for('static', filename='img/posesone.png') }}" class="img-game active">
      <img src="{{ url_for('static', filename='img/posestwo.png') }}" class="img-game">
    </div>

  </div>


</div>

</section>
</section>
  
  <!-- 🌸 MODAL REGISTRO -->
<div class="modal fade" id="signupModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Crear cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <form action="/signup" method="POST">
        <div class="modal-body">

          <input type="text" name="nombre" class="form-control mb-2" placeholder="Nombre">
          <input type="email" name="correo" class="form-control mb-2" placeholder="Correo">
          <input type="password" name="clave" class="form-control mb-2" placeholder="Contraseña">

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Registrarme</button>
        </div>
      </form>

    </div>
  </div>
</div>


<!-- 🌸 MODAL INICIAR SESIÓN -->
<div class="modal fade" id="signinModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Iniciar sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <form action="/signin" method="POST">
        <div class="modal-body">

          {% with mensajes = get_flashed_messages() %}
            {% if mensajes %}
              {% for m in mensajes %}
                <div class="alert alert-danger">{{ m }}</div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <input type="email" name="correo" class="form-control mb-2" placeholder="Correo">
          <input type="password" name="clave" class="form-control mb-2" placeholder="Contraseña">

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}